.edit-build-page {
    color: rgb(212, 212, 212);
    display: grid;
    grid-template-areas: "buildLeftContainer buildMainContainer buildRightContainer";
    grid-template-columns: 1fr 2.5fr 1fr;
    height: 100%;
    grid-template-rows: 100%;
    grid-column-gap: 20px;
}
.build-left-container {
    grid-area: buildLeftContainer;
}
.build-main-container {
    grid-area: buildMainContainer;
    display: grid;
    grid-template-rows: auto 1fr;
    box-shadow: -1px -1px 0 0 #564640;
}

.build-right-container {
    grid-area: buildRightContainer;
}
.build-group-container .build-list-item .talents, .build-group-container .build-list-item .weapons, .build-group-container .build-list-item .traits {
  display: none;
}
.build-group-container .build-list-item {
  grid-template-columns: 100px auto;
}
.build-group-container {
    height: 100%;
    display: grid;
    grid-template-rows: 60px calc(100% - 100px);
    grid-template-columns: 1fr;
    grid-template-areas: "buildGroupButtons" "buildListContainer";
    padding: 20px;
}
.simplebar-track .simplebar-scrollbar.simplebar-visible:before {
    opacity:0;
}
.simplebar-track.simplebar-vertical {
    right: 6px;
  }
  .simplebar-visible {
    background: white;
  }
  .simplebar-offset {
      padding-top: 4px;
  }
  .build-group-container [data-simplebar] {
    grid-area: buildListContainer;
    position: relative;
    background: url('../../assets/images/backgrounds/background12.png');
  }  
  .build-group-container [data-simplebar]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-image: url('../../assets/images/borders/border-01.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-style: solid;
    box-shadow: -1px 0px 0 0 #564640;
  }  
  .build-group-container .build-list {
    padding: 20px;
  }
  .edit-build-page[data-dirty="false"] #saveBuildButton {
    filter: grayscale(1);
    cursor: default;
  }
  .build-buttons-container {
    grid-area: buildGroupButtons;
    display: grid;
    align-content: center;
    padding: 20px;
    border-image: url('../../assets/images/borders/border-01.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-style: solid;
    box-shadow: -1px -1px 0 0 #564640;
    background: url('../../assets/images/backgrounds/background34.png');
  }
  .edit-build-page[data-dirty='true'] #saveBuildButton:hover {
    box-shadow: inset 0 0 75px black, inset 0 5px 4px white, inset 0 -5px 4px rgb(141 141 141) !important;
    cursor: pointer;
}
.edit-build-page .build-details-container {
    display: grid;
    grid-template-rows: 40px auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "heroDetails buildName" "heroDetails buildDescription" "buildInformation  buildInformation" "buildOptions buildOptions";
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  .edit-build-page .build-details-container .hero-details-container {
    grid-template-rows: 1fr;
    grid-template-areas: "heroName" "heroSummary";
    grid-area: heroDetails;
  }
  .edit-build-page input {
    outline: none;
  }
  .edit-build-page .build-name-input {
      grid-area: buildName;
      color: #ff5722;
      font-size: 1.3em;
      text-align: center;
      text-transform: uppercase;
  }
.edit-build-page .hero-portrait {
  height: 175px;
  align-self: center;
}
.edit-build-page .hero-summary p:nth-child(2n+1) {
    display: none;
}
.edit-build-page .hero-summary {
    grid-template-rows: 32px 32px;
    grid-row-gap: 7px;
}

.build-navigation-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    box-shadow: -1px -1px 0 0 #564640;
  }

  .build-summary-container {
    display: grid;
}
.build-summary-tab {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "buildDetails" "buildSummary";
    border-image: url('../../assets/images/borders/border-01.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-style: solid;
    background: url('../../assets/images/backgrounds/background14.png');
    padding: 20px;
    grid-row-gap: 20px;
}
.build-details-container .hero-passive-container, .build-details-container .hero-skill-container, .build-details-container .hero-perks-container {
    display: none;
}
.build-options-container {
    grid-row-gap: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    grid-area: buildOptions;
}
.input-build-description {
    color: #f0f0f0;
    padding: 10px;
    font-size: 18px;
    resize: none;
    grid-area: buildDescription;
    outline: none;
    background-size: cover;
}
.edit-build-page .react-tabs__tab-list {
    display: grid;
    background: url('../../assets/images/labels/label-06.png');
    color: #928962;
    margin: 0;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}
.react-tabs__tab-list li, .container-tabs-list li  {
    border-radius: 0;
    border-image: url('../../assets/images/borders/border-01.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-style: solid;
    box-shadow: inset 0 0 75px black, inset 0 6px 3px white;
    background: black;
}
.container-tabs-list li {
  color: #928962;
  padding: 0;
  margin: -1px 0 0;
  height: 32px;
  display: grid;
  align-content: center;
}
.container-tabs .react-tabs__tab--selected {
  background: #000;
  box-shadow: inset 0 9px 6px -6px white, inset 0 -9px 20px -6px #6a371d !important;
  color: #f0f0f0;
  background: black;
}

.edit-build-page .react-tabs__tab--selected {
    background: #000;
    box-shadow: inset 0 9px 6px -6px white, inset 0 -9px 20px -6px #6a371d !important;
    color: #f0f0f0;
    background: black;
}
.container-tabs-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
}
.react-tabs__tab:focus {
    box-shadow: initial;
    outline: none;
}
.react-tabs__tab:focus::after {
    content: unset;
}
.react-tabs {    
    max-height: 100%;
    height: 100%;
}
.edit-build-page .react-tabs {    
    box-shadow: -1px -1px 0 0 #564640;
    display: block;
}
#buildSaveIndicator {
  position: fixed;
  top: 70px;
  left: 50px;
  opacity: 0;  
  padding: 5px 10px;
  color: #f0d9af;
  z-index:100;
}
#buildSaveIndicator.saved {
  animation: fade 4s linear;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  7%,60% { opacity: 1 }
}
.build-information-container {
  grid-area: buildInformation;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  justify-items: center;
  grid-column-gap: 10px;
  background-color: #440c0c3b;
  position: relative;
  padding: 10px;
  border-top: 1px solid #f0d9af;
  border-bottom: 1px solid #f0d9af;
  z-index: 0;
  align-items: center;
}
.build-information-container span:nth-child(2n+2), .build-information-container a {
  justify-self: left;
  font-size: 1.4em;
  color: #f0d9af;
  text-decoration: none;
}
.build-information-container>div {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  text-align: right;
}
.build-information-container a {
  color: #0096fb;
}
.edit-build-page[data-readonly='true'] * {
  pointer-events: none;
}
.edit-build-page[data-readonly='true'] a,
.build-page[data-readonly='true'] .build-like-container * {
  pointer-events: initial;
}
.edit-build-page[data-readonly='false'] .read-only-container {
  display: none;
}
.edit-build-page[data-readonly='true'] .build-details-container {
  grid-template-areas:
      "heroDetails buildName"
      "heroDetails buildInformation"
      "buildDescription buildDescription"
      "buildOptions buildOptions";
}
.build-page[data-liked='false'] .build-information-container .unlike-icon { display: none; }
.build-page[data-liked='true'] .build-information-container .like-icon { display: none; }
.like-icon, .unlike-icon {
  cursor: pointer;
}
.build-like-container i {
  color: #f0d9af;
}

.build-like-container span {
  align-self: end;
}

@keyframes pulse_animation {
  0% { font-size: 1.2em; }
  10% { font-size: 1.3em; }
  20% { font-size: 1.2em; }
}

.build-page[data-dirty="true"] #saveBuildButton {
  animation-name: pulse_animation;
  animation-duration: 3000ms;
  transform-origin:70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.build-page[data-readonly='true'] .build-main-container>.react-tabs li:nth-child(n+2) {
  display: none;
}