.build-list-item {
    box-shadow: inset 0px 1000px #0d0202eb;
    display: grid;
    grid-template-columns: 100px auto 340px 240px 190px 25px;
    position: relative;
    grid-template-rows: 34px 46px 30px;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-template-areas: "heroIcon buildDescription buildDescription buildDescription buildDescription buildDescription"
                        "heroIcon buildTalents buildTalents buildWeapons buildTraits emptySpace"
                        "heroIcon buildFooter buildFooter buildFooter buildFooter buildFooter";
    text-transform: uppercase;
    cursor: pointer;
}
.build-list-item::after {
    background: radial-gradient(ellipse at top, black, white);
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    z-index: 0;
    opacity: 0.06;
}
.edit-build-page .build-list-item .weapons, .edit-build-page .build-list-item .traits {
    display: none;
}
.edit-build-page .build-list-item {
    grid-template-columns: 100px auto 1fr;
}
.build-hero-icon {
    width: 80px;
    height: 94px;
    grid-area: heroIcon;
    justify-self: center;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.build-name {
    font-size: 1.2em;
    align-self: end;
    justify-self: left;
    color: #c15b24;
}
.build-description-container {
    grid-area: buildDescription;
    justify-items: flex-start;
    grid-template-rows: auto auto auto;
    text-align: left;
    display: grid;
}
.talents {
    grid-area: buildTalents;
    display: grid;
    grid-template-columns: repeat(6,30px);
    grid-column-gap: 5px;
    height: 30px
}
.weapons {
    grid-area: buildWeapons;
    display: grid;
    grid-template-columns: repeat(4, 46px);
    grid-column-gap: 5px;
    justify-content: center;
}
.traits {
    grid-area: buildTraits;
    display: grid;
    grid-template-columns: repeat(3,46px);    
    justify-self: center;
    grid-column-gap: 5px;
}
.build-footer {
    grid-area: buildFooter;
    background: linear-gradient(to right, #0000,#ffffff14);
    padding-right: 10px;
    justify-self: right;
    border-radius: 0 0 8px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    align-content: center;
    font-size: 0.8em;
    width: 100%;
    justify-content: right;
}
.build-hero {
    font-size: 0.8em;
    align-self: center;
}
.build-footer .patch-number {
    justify-self: right;
    color: #31d014;
}
.build-footer > p {
    align-content: center;
    display: grid;
    height: 100%;

}
.weapon-icon:hover::before {
    height: auto;
    width: 400px;
    display: grid;
    position: absolute;
    background: radial-gradient(#440c0ca8 10%, #0000 60%) #2d1212;
    bottom: 60px;
    right: -190px;
    border-image: url('../../assets/images/borders/border-10.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-style: solid;
    padding: 5px;
    white-space: pre;
    text-transform: initial;
    align-content: center;
    z-index: 1;
}

.trait-icon:hover::before {
    /*content: 'Hitting more than 3 enemies in one swing generates temporary health.';*/
    height: auto;
    width: 400px;
    display: grid;
    position: absolute;
    background: radial-gradient(#440c0ca8 10%, #0000 60%) #2d1212;
    bottom: 60px;
    right: -190px;
    border-image: url('../../assets/images/borders/border-10.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-style: solid;
    padding: 5px;
    white-space: pre;
    text-transform: initial;
    align-content: center;
    z-index: 1;
}
.traits .trait-icon:nth-child(1):hover::before {
    right: -142px;
}.traits .trait-icon:nth-child(2):hover::before {
    right: -91px;
}

.traits .trait-icon:hover::before {    
    right: -40px;
}

.build-list-item>* {
    z-index: 1;
}
.build-list-item .talent-icon {
    box-shadow: inset 0 0 65px #0000009e;
}
.trait-icon {
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: relative;
    background-size: calc(100% - 12px) !important;
}
.trait-icon::after {
    content: '';
    background-repeat: no-repeat !important;
    background-position: center !important;
    display: grid;
    width: 100%;
    height: 100%;
    background-color: black !important;
    z-index: -1;
    position: relative;
}

.trait-heroic-intervention {
    background: url('../../assets/images/traits/heroic-intervention.png') black;
}
.trait-off-balance {
    background: url('../../assets/images/traits/off-balance.png') black;
}
.trait-opportunist {
    background: url('../../assets/images/traits/opportunist.png') black;
}
.trait-parry {
    background: url('../../assets/images/traits/parry.png') black;
}
.trait-resourceful-combatant {
    background: url('../../assets/images/traits/resourceful-combatant.png') black;
}
.trait-swift-slaying {
    background: url('../../assets/images/traits/swift-slaying.png') black;
}
.trait-barrage {
    background: url('../../assets/images/traits/barrage.png') black;
}
.trait-conservative-shooter {
    background: url('../../assets/images/traits/conservative-shooter.png') black;
}
.trait-heat-sink {
    background: url('../../assets/images/traits/heat-sink.png') black;
}
.trait-hunter {
    background: url('../../assets/images/traits/hunter.png') black;
}
.trait-inspirational-shot {
    background: url('../../assets/images/traits/inspirational-shot.png') black;
}
.trait-resourceful-sharpshooter {
    background: url('../../assets/images/traits/resourceful-sharpshooter.png') black;
}
.trait-scrounger {
    background: url('../../assets/images/traits/scrounger.png') black;
}
.trait-thermal-equalizer {
    background: url('../../assets/images/traits/thermal-equalizer.png') black;
}
.trait-barkskin {
    background: url('../../assets/images/traits/barkskin.png') black;
}
.trait-shallyas-boon {
    background: url('../../assets/images/traits/boon-of-shallya.png') black;
}
.trait-hand-of-shallya {
    background: url('../../assets/images/traits/hand-of-shallya.png') black;
}
.trait-healers-touch {
    background: url('../../assets/images/traits/healers-touch.png') black;
}
.trait-natural-bond {
    background: url('../../assets/images/traits/natural-bond.png') black;
}
.trait-concoction {
    background: url('../../assets/images/traits/concoction.png') black;
}
.trait-decanter {
    background: url('../../assets/images/traits/decanter.png') black;
}
.trait-home-brewer {
    background: url('../../assets/images/traits/home-brewer.png') black;
}
.trait-proxy {
    background: url('../../assets/images/traits/proxy.png') black;
}
.trait-explosive-ordinance {
    background: url('../../assets/images/traits/explosive-ordinance.png') black;
}
.trait-grenadier {
    background: url('../../assets/images/traits/grenadier.png') black;
}
.trait-shrapnel {
    background: url('../../assets/images/traits/shrapnel.png') black;
}
.build-author a {
    align-self: center;
    color: #0096fb;
    text-transform: capitalize;
    justify-self: left;
    padding-left: 5px;
}
.build-page .build-hero-icon {
    margin: 6px;
}
.build-page .build-list-item .talents, .build-page .build-list-item .traits, .build-page .build-list-item .weapons {
    display: none;
}
.build-footer .roles {
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: left;
    text-align: left;
    white-space: nowrap;
    color: #c8c8c8;
}
.roles {
    color: #c8c8c8;
}
.build-list-item {
    color: #c8c8c8;
}
.build-page .build-list-item {
    color: #c8c8c8;
    grid-template-columns: 100px 1fr !important;
    grid-template-rows: 1fr 30px;
    grid-template-areas:
        "heroIcon buildDescription"
        "heroIcon buildFooter";
    grid-row-gap: 0px;
}
a:hover>.build-list-item {
    box-shadow: inset 0px 1000px #261010e8;
}
.build-author-by {
    text-transform: lowercase;
}