.build-list-item {
    display: grid;
    grid-template-columns: 120px auto auto 1fr auto;
    position: relative;
    grid-template-rows: auto 45px 30px;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    grid-template-areas: "heroIcon buildDescription buildDescription buildDescription buildRating"
    "heroIcon buildWeapons buildTraits empty2 empty2"
    "heroIcon buildFooter buildFooter buildFooter buildFooter";
    text-transform: uppercase;
    cursor: pointer;
}
.edit-build-page .build-list-item .weapons, .edit-build-page .build-list-item .traits {
    display: none;
}
.edit-build-page .build-list-item .build-hero-icon{
    width: 80px;
    height: 94px;
}
.edit-build-page .build-list-item {
    grid-template-columns: 100px auto 1fr;
    grid-column-gap: 5px;
}
.build-hero-icon {
    width: 100px;
    height: 120px;
    grid-area: heroIcon;
    justify-self: right;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.build-name {
    font-size: 1.2em;
    align-self: end;
    justify-self: left;
    color: #c15b24;
}
.build-description-container {
    grid-area: buildDescription;
    justify-items: flex-start;
    grid-template-rows: 30px 20px auto;
    text-align: left;
    display: grid;
}
.build-list-item .talents {
    grid-area: buildTalents;
    display: grid;
    grid-template-columns: repeat(6,45px);
    grid-column-gap: 5px;
    height: 45px;
}
.weapons {
    grid-area: buildWeapons;
    display: grid;
    grid-template-columns: repeat(4, 45px);
    grid-column-gap: 5px;
    justify-content: center;
}
.traits {
    grid-area: buildTraits;
    display: grid;
    grid-template-columns: repeat(3,45px);
    grid-column-gap: 5px;
}
.build-footer {
    grid-area: buildFooter;
    background: linear-gradient(to right, #0000,#ffffff14);
    padding-right: 10px;
    justify-self: right;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    align-content: center;
    font-size: 0.8em;
    width: calc(100% - 10px);
    justify-content: right; 
    margin-right: 5px;
    padding-bottom: 5px;
}
.build-hero {
    font-size: 0.8em;
    align-self: center;
}
.build-footer .patch-number {
    justify-self: right;
    color: #31d014;
}
.build-footer > p {
    align-content: center;
    display: inline-block;
    height: 12px;

}
.weapon-icon:hover::before {
    height: auto;
    width: 400px;
    display: grid;
    position: absolute;
    background: radial-gradient(#440c0ca8 10%, #0000 60%) #2d1212;
    bottom: 60px;
    right: -190px;
    border-image: url('../../assets/images/borders/border-10.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-style: solid;
    padding: 5px;
    white-space: pre;
    text-transform: initial;
    align-content: center;
    z-index: 1;
}

.trait-icon:hover::before {
    /*content: 'Hitting more than 3 enemies in one swing generates temporary health.';*/
    height: auto;
    width: 400px;
    display: grid;
    position: absolute;
    background: radial-gradient(#440c0ca8 10%, #0000 60%) #2d1212;
    bottom: 60px;
    right: -190px;
    border-image: url('../../assets/images/borders/border-10.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-style: solid;
    padding: 5px;
    white-space: pre;
    text-transform: initial;
    align-content: center;
    z-index: 1;
}
.traits .trait-icon:nth-child(1):hover::before {
    right: -142px;
}.traits .trait-icon:nth-child(2):hover::before {
    right: -91px;
}

.traits .trait-icon:hover::before {    
    right: -40px;
}

.build-list-item>* {
    z-index: 1;
}
.build-list-item .talent-icon {
    box-shadow: inset 0 0 65px #0000009e;
}
.trait-icon {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: calc(100% - 12px) !important;
}
.trait-heroic-intervention {
    background: url('../../assets/images/traits/heroic-intervention.png') black;
}
.trait-off-balance {
    background: url('../../assets/images/traits/off-balance.png') black;
}
.trait-opportunist {
    background: url('../../assets/images/traits/opportunist.png') black;
}
.trait-parry {
    background: url('../../assets/images/traits/parry.png') black;
}
.trait-resourceful-combatant {
    background: url('../../assets/images/traits/resourceful-combatant.png') black;
}
.trait-swift-slaying {
    background: url('../../assets/images/traits/swift-slaying.png') black;
}
.trait-barrage {
    background: url('../../assets/images/traits/barrage.png') black;
}
.trait-conservative-shooter {
    background: url('../../assets/images/traits/conservative-shooter.png') black;
}
.trait-heat-sink {
    background: url('../../assets/images/traits/heat-sink.png') black;
}
.trait-hunter {
    background: url('../../assets/images/traits/hunter.png') black;
}
.trait-inspirational-shot {
    background: url('../../assets/images/traits/inspirational-shot.png') black;
}
.trait-resourceful-sharpshooter {
    background: url('../../assets/images/traits/resourceful-sharpshooter.png') black;
}
.trait-scrounger {
    background: url('../../assets/images/traits/scrounger.png') black;
}
.trait-thermal-equalizer {
    background: url('../../assets/images/traits/thermal-equalizer.png') black;
}
.trait-barkskin {
    background: url('../../assets/images/traits/barkskin.png') black;
}
.trait-boon-of-shallya {
    background: url('../../assets/images/traits/boon-of-shallya.png') black;
}
.trait-hand-of-shallya {
    background: url('../../assets/images/traits/hand-of-shallya.png') black;
}
.trait-healers-touch {
    background: url('../../assets/images/traits/healers-touch.png') black;
}
.trait-natural-bond {
    background: url('../../assets/images/traits/natural-bond.png') black;
}
.trait-concoction {
    background: url('../../assets/images/traits/concoction.png') black;
}
.trait-decanter {
    background: url('../../assets/images/traits/decanter.png') black;
}
.trait-home-brewer {
    background: url('../../assets/images/traits/home-brewer.png') black;
}
.trait-proxy {
    background: url('../../assets/images/traits/proxy.png') black;
}
.trait-explosive-ordinance {
    background: url('../../assets/images/traits/explosive-ordinance.png') black;
}
.trait-grenadier {
    background: url('../../assets/images/traits/grenadier.png') black;
}
.trait-shrapnel {
    background: url('../../assets/images/traits/shrapnel.png') black;
}
.build-author a {
    align-self: center;
    color: #0096fb;
    text-transform: capitalize;
    justify-self: left;
    padding-left: 5px;
}
.build-page .build-hero-icon {
    margin: 6px;
}
.build-page .build-list-item .talents, .build-page .build-list-item .traits, .build-page .build-list-item .weapons {
    display: none;
}
.build-footer .roles {
    text-overflow: ellipsis;
    overflow: hidden;
    justify-content: left;
    text-align: left;
    white-space: nowrap;
    color: #c8c8c8;
    display: inline-block;
}
.roles {
    color: #c8c8c8;
}
.build-list-item {
    color: #c8c8c8;
}
.build-page .build-list-item {
    color: #c8c8c8;
    grid-template-columns: 100px 1fr !important;
    grid-template-rows: 1fr 30px;
    grid-template-areas:
    "heroIcon buildDescription buildRating"
    "heroIcon buildFooter buildFooter";
    grid-row-gap: 0px;
}
.build-author-by, .build-author {
    text-transform: initial;
}
.build-list-item .talent-icon[data-talent='1']::after, .build-list-item .talent-icon[data-talent='2']::after, .build-list-item .talent-icon[data-talent='3']::after {content: '';}
.build-list-item .talent-icon[data-talent='1']::after {
    content: '1';
}
.build-list-item .talent-icon[data-talent='2']::after {
    content: '2';
}
.build-list-item .talent-icon[data-talent='3']::after {
    content: '3';
}
.build-list-item .talents {
    display: none;
}
.build-author {
    color:#0096fb;
}
.date-updated {
    text-transform: lowercase;
}

/* 
.build-list-item[data-career='1'] {
    background-image: linear-gradient(to bottom, #200000d6, #1e0000), url('../../assets/images/backgrounds/background39.png');
} */


.build-list-item[data-career='1']:after {
    background: rgba(87, 57, 57, 0.23);
  }
  .build-list-item[data-career='2']:after {
    background: rgba(89, 98, 61, 0.25);
  }
  .build-list-item[data-career='3']:after {
    background: rgba(9,20,41,.45);
  } 
  .build-list-item[data-career='4']:after {
    background: rgba(29,37,5,.45);
  }
  .build-list-item[data-career='5']:after {
    background: rgba(10,54,63,.45);
  }
  .build-list-item[data-career='6']:after {
    background: rgba(52,0,0,.45);
  }
  .build-list-item[data-career='7']:after {
    background: rgba(10,23,8,.45);
  }
  .build-list-item[data-career='8']:after {
    background: rgba(13,26,43,.45);
  }
  .build-list-item[data-career='9']:after {
    background: rgba(31,20,40,.45);
  }
  .build-list-item[data-career='10']:after {
    background: rgba(32,38,40,.45);
  }
  .build-list-item[data-career='11']:after {
    background: rgba(40,31,15,.45);
  }
  .build-list-item[data-career='12']:after {
    background: rgba(35,35,30,.45);
  }
  .build-list-item[data-career='13']:after {
    background: rgba(46,16,0,.45);
  }
  .build-list-item[data-career='14']:after {
    background: rgba(36,6,2,.45);
  }
  .build-list-item[data-career='15']:after {
    background: rgba(30,10,20,.45);
  }
  .build-list-item[data-career='16']:after {
    background: rgba(30,10,20,.45);
  }
  .build-list-item[data-career='17']:after {
    background: rgba(30,10,20,.45);
  }
  .build-list-item:hover:before {
    box-shadow: 0 0 10px 2px #ffd700;
    background: radial-gradient(closest-corner, #00000090, #000000dc), linear-gradient(to bottom, #1d1d1d78, #00000017), url('../../assets/images/backgrounds/background39.png');
}
.build-list-item:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;    
    border-image: url('../../assets/images/borders/border-31.png');
    border-image-slice: 67;
    border-image-width: 67px;
    border-style: solid;
    border-image-repeat: repeat;
    box-sizing: border-box;
}
.build-list-item:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(closest-corner, #0000007a, #000000ba), linear-gradient(to bottom, #1d1d1d78, #00000017), url('../../assets/images/backgrounds/background39.png');
    filter: saturate(285%) contrast(120%);
}
.build-list-item .rating-icon {
    height: 50px;
    width: 50px;
}
.rating {
    grid-area: buildRating;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding-right: 10px;
}
.rating-count {
    font-size: 2em;
}