p.skill-cooldown-label {
    white-space: nowrap;
}
.health-bar, .cooldown-bar {
    width: 100%;
    border-radius: 2px;
    height: 35px;
    position: relative;
}
.health-bar::after, .cooldown-bar::after {
    border-image: url('../../assets/images/borders/border-15.png');
    border-image-slice: 15;
    border-image-width: 15px;
    border-image-repeat: repeat;
    border-style: solid;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: 100%;
    width: 100%;
    z-index: 1
}
.health-bar::before, .cooldown-bar::before {
    background-image: url('../../assets/images/backgrounds/background18.png');
    background-size: cover;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    height: 100%;
    width: 100%;
}
.health-bar[data-value="100"] .stat-container {
    width: 55%;
}
.health-bar[data-value="120"] .stat-container {
    width: 66%;
}
.health-bar[data-value="125"] .stat-container {
    width: 69%;
}
.health-bar[data-value="150"] .stat-container {
    width: 83%;
}
.health-bar[data-value="180"] .stat-container {
    width: 100%;
}
.cooldown-bar[data-value="20"] .stat-container {
    width: 16%;
}
.cooldown-bar[data-value="30"] .stat-container {
    width: 25%;
}
.cooldown-bar[data-value="40"] .stat-container {
    width: 33%;
}
.cooldown-bar[data-value="50"] .stat-container {
    width: 42%;
}
.cooldown-bar[data-value="60"] .stat-container {
    width: 50%;
}
.cooldown-bar[data-value="70"] .stat-container {
    width: 58%;
}
.cooldown-bar[data-value="80"] .stat-container {
    width: 67%;
}
.cooldown-bar[data-value="90"] .stat-container {
    width: 75%;
}
.cooldown-bar[data-value="120"] .stat-container {
    width: 100%;
}
.health-bar .stat-container {    
  background: linear-gradient(90deg,#06730a,#31d014 97%, #31d0147a 100%);
}
.cooldown-bar .stat-container {    
    background: linear-gradient(90deg,#2b1d7e,#6c48a8 97%, #6c48a87a 100%);
}
.stat-container span {
    padding-top: 4px;
}
.stat-container {
  color: #f0d9af;
  justify-content: center;
  align-content: center;
  display: grid; 
  height: 100%;
  position: absolute;
  z-index: 1;  
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-auto-columns: auto;
  align-items: center;
}
.bonus-health {
  color: #000;
}